//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        lwin {
            bindings = <&kp LWIN>;
            key-positions = <10 0>;
        };

        lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <11 1>;
        };

        lshift {
            bindings = <&kp LSHIFT>;
            key-positions = <12 2>;
        };

        lctrl {
            bindings = <&kp LCTRL>;
            key-positions = <13 3>;
        };

        rctrl {
            bindings = <&kp RCTRL>;
            key-positions = <16 6>;
        };

        rshift {
            bindings = <&kp RSHIFT>;
            key-positions = <17 7>;
        };

        ralt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <18 8>;
        };

        rwin {
            bindings = <&kp RWIN>;
            key-positions = <19 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
           &kp Q  &kp W  &kp F  &kp P  &kp B        &kp J                 &kp L    &kp U      &kp Y    &kp SEMI
           &kp A  &kp R  &kp S  &kp T  &kp G        &kp M                 &kp N    &kp E      &kp I    &kp O
&kp GRAVE  &kp Z  &kp X  &kp C  &kp D  &kp V        &kp K                 &kp H    &kp COMMA  &kp DOT  &kp SLASH  &kp SINGLE_QUOTE
                         &mo 3  &mo 1  &kp SPACE    &mt LEFT_SHIFT ENTER  &kp TAB  &mo 2
            >;
        };

        Extend {
            label = "Ext";
            bindings = <
             &kp ESCAPE    &kp LC(W)     &kp LC(T)       &kp LC(L)         &kp LBRC    &kp RBRC  &kp HOME   &kp UP_ARROW  &kp END    &kp DEL
             &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LBKT    &kp RBKT  &kp LEFT   &kp DOWN      &kp RIGHT  &kp BACKSPACE
&kp LA(TAB)  &kp LC(Z)     &kp LC(X)     &kp LC(C)       &kp LC(V)         &kp LPAR    &kp RPAR  &kp LC(B)  &kp LC(I)     &kp LC(U)  &trans         &trans
                                         &trans          &trans            &trans      &trans    &trans     &trans
            >;
        };

        Symbol {
            label = "Sym";
            bindings = <
        &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT  &kp DQT
        &trans    &trans  &trans    &trans      &trans         &trans     &trans         &trans           &trans   &trans
&trans  &trans    &trans  &trans    &trans      &trans         &kp UNDER  &kp EQUAL      &trans           &trans   &kp SLASH  &kp HOME
                          &trans    &trans      &trans         &trans     &trans         &trans
            >;
        };

        Numpad {
            label = "Num";
            bindings = <
                &trans  &trans    &kp UP_ARROW  &trans     &trans    &kp KP_ASTERISK  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS
                &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans    &kp KP_DIVIDE    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS
&kp KP_NUMLOCK  &trans  &trans    &trans        &trans     &trans    &kp KP_DOT       &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp LPAR      &kp RPAR
                                  &trans        &trans     &trans    &kp KP_EQUAL     &kp ENTER        &kp KP_NUMBER_0
            >;
        };

        Config {
            label = "cfg";
            bindings = <
        &trans    &trans    &trans     &trans      &trans    &trans      &trans            &trans      &bootloader  &trans
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &trans    &trans      &kp RSHIFT        &kp RCTRL   &kp RALT     &kp RGUI
&trans  &trans    &trans    &trans     &trans      &trans    &trans      &trans            &trans      &trans       &trans    &trans
                            &trans     &trans      &trans    &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        cfgwarp {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
